@model NinjaSoftware.Enio.Models.ArtiklPager
@using NinjaSoftware.Enio.CoolJ.EntityClasses

@{
    string title = "Lista artikala";
    ViewBag.Title = title;
}

<h2>@title</h2>

@Html.ActionLink("Dodaj novi artikl", "ArtiklEdit")
<br />

<table>
    <tr>
        <th>@Html.ActionLink("Naziv", "ArtiklList", new { sortField = "Naziv", isSortAscending = !Model.IsSortDirectionAscending })</th>
        <th>Jedinica mjere</th>
        <th>PDV</th>
        <th>Aktivan</th>
        <th></th>
    </tr>
    @foreach (ArtiklEntity artikl in Model.DataSource)
    { 
    <tr>
        <td>@artikl.Naziv</td>
        <td>@artikl.Jm</td>
        <td>@artikl.Pdv.Naziv</td>
        <td>@artikl.IsActive</td>
        <td>@Html.ActionLink("Uredi", "ArtiklEdit", new { artiklId = artikl.ArtiklId })</td>
    </tr>
    }
</table>

<br />
@Html.Partial("_PagerNavigation", Model)