@model NinjaSoftware.Enio.Models.PartnerPager
@using NinjaSoftware.Enio.CoolJ.EntityClasses
@using NinjaSoftware.Api.Mvc

@{
    string title = "Lista partnera";
    ViewBag.Title = title;
}

<h2>@title</h2>
<br />

@Html.ActionLink("Dodaj novog partnera", "PartnerEdit")
@Html.ActionLink("Opći cjenik", "CjenikList")
<br />

<table class="datatable">
  <thead>
    <tr>
        <th><span>Naziv</span></th>
        <th><span>OIB</span></th>
        <th><span>Adresa</span></th>
        <th><span>Pošta</span></th>
        <th><span>Mjesto</span></th>
        <th><span>Valuta</span></th>
        <th><span>Aktivan</span></th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (PartnerEntity partner in Model.DataSource)
    { 
    <tr>
        <td>@partner.Naziv</td>
        <td align="center">@partner.Oib</td>
        <td>@partner.Adresa</td>
        <td>@partner.Posta</td>
        <td>@partner.Mjesto</td>
        <td align="right">@partner.Valuta</td>
        <td align="center">@partner.IsActive.ToLocalizedWord()</td>
        <td>
            @Html.ActionLink("Uredi", "PartnerEdit", new { partnerId = partner.PartnerId }) |
            @Html.ActionLink("Cjenik", "CjenikList", new { partnerId = partner.PartnerId })
        </td>
    </tr>
    }
  </tbody>
  <tfoot>
    <tr>
        <td class="footer" colspan="8">
            @Model.GenerateDropDownPagingHtmlElements(System.Configuration.ConfigurationManager.AppSettings["PagerPrefixText"])
        </td>
    </tr>
  </tfoot>
</table>