@model NinjaSoftware.Enio.Models.RacunViewModel
@using NinjaSoftware.Api.Mvc
@using NinjaSoftware.Enio.CoolJ.HelperClasses
@using Newtonsoft.Json

@Scripts.Render("/bundles/CoolJEntities")
@Scripts.Render("/bundles/globalize")

<script type="text/javascript" src="@Url.Content("~/Scripts/knockout-2.1.0.js")"></script>

@{
    string title;
    
    if (Model.RacunGlava.IsNew)
    {
        title = "Unos novog računa";
    }
    else
    {
        title = string.Format("Račun br. {0}", Model.RacunGlava.BrojRacuna);
    }

    ViewBag.Title = title;

    NsController nsController = (NsController)ViewContext.Controller;
}

<h2>@title</h2>

<form action="/someServerSideHandler">
<fieldset>
    <div data-bind="template: { name: 'racunGlavaTemplate', data: racunGlava }"></div>

    <script type="text/html" id="racunGlavaTemplate">
        <table>
            <tr>
                <td>Partner:</td>
                <td>
                    <select data-bind="options: $root.partnerCollection, value: PartnerId, optionsText: 'Naziv', optionsValue: 'PartnerId'">
                    </select>
                </td>

                <td>Tarifa:</td>
                <td>
                    <select data-bind="options: $root.tarifaCollection, value: TarifaId, optionsText: 'Naziv', optionsValue: 'TarifaId'">
                    </select>
                </td>
            </tr>

            <tr>
                <td>Datum:</td>
                <td>
                    <input id="InputDatum" class="required date" data-bind="value: Datum, uniqueName: true" />
                </td>

                <td>Vrijeme:</td>
                <td>
                    <input data-bind="value: Vrijeme" />
                </td>
            </tr>

            <tr>
                <td>Mjesto rada:</td>
                <td>
                    <input data-bind="value: MjestoRadaNaziv" />
                </td>

                <td>Adresa rada:</td>
                <td>
                    <input data-bind="value: MjestoRadaAdresa" />
                </td>
            </tr>

            <tr>
                <td>Valuta:</td>
                <td>
                    <input class="numberCss" data-bind="value: Valuta" />
                    dana
                </td>

                <td>Status:</td>
                <td>
                    <select data-bind="options: $root.statusCollection, value: StatusId, optionsText: 'Name', optionsValue: 'StatusId'">
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <input type="submit" value="Pohrani" />
                </td>

                <td>
                    Ispis (TODO)
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </script>

    <br /><br />
    <table>
        <tr>
            <td colspan="4"><h3>Unos nove stavke</h3></td>
        </tr>
        <tr>
            <td>Artikl</td>
            <td>Količina</td>
            <td>Cijena</td>
            <td></td>
        </tr>
        <tr>
            <td>
                <select id="dropDownArtikl" data-bind="options: $root.artiklCollection, value: $root.selectedArtikl, optionsText: 'Naziv'")></select>
            </td>
            <td>
                <input class="numberCss" data-bind="value: selectedArtiklKolicina" />
                <span data-bind="text: selectedArtikl().Jm"></span>
            </td>
            <td>
                <input class="numberCss" data-bind="value: selectedArtiklCijena" />
                kn
            </td>
            <td><input type="button" value="Unesi stavku" onclick="viewModel.addRacunStavka();" /></td>
        </tr>
    </table>

    <table>
      <thead>
        <tr>
            <th>Artikl</th>
            <th>Količina</th>
            <th>Cijena</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: racunStavkaCollection">
        <tr>
            <td data-bind="text: Artikl.Naziv"></td>
            <td>
                <input class="required number" data-bind="value: Kolicina, uniqueName: true" />
                <span data-bind="text: Artikl.Jm"></span>
            </td>
            <td>
                <input data-bind="value: Cijena" />
            </td>
        </tr>
      </tbody>
        
    </table>
</fieldset>
</form>
<script type="text/javascript">
    Globalize.culture("hr");

    $(document).ready(function () {
        $("#dropDownArtikl").change(function () {
            var cijena = Globalize.format(viewModel.selectedArtikl().Cijena, "n2");
            viewModel.selectedArtiklCijena(cijena);
        });

        $("#InputDatum").datepicker();
    });

    var racunViewModel = function () {
        var self = {};

        self.racunGlava = ko.observable(@Html.Raw(JsonConvert.SerializeObject(Model.RacunGlava)));
        self.racunStavkaCollection = ko.observableArray(@Html.Raw(JsonConvert.SerializeObject(Model.RacunStavkaCollection)));
        self.artiklCollection = ko.observableArray(@Html.Raw(JsonConvert.SerializeObject(Model.ArtiklCollection)));
        self.partnerCollection = ko.observableArray(@Html.Raw(JsonConvert.SerializeObject(Model.PartnerCollection)));
        self.tarifaCollection = ko.observableArray(@Html.Raw(JsonConvert.SerializeObject(Model.TarifaCollection)));
        self.statusCollection = ko.observableArray(@Html.Raw(JsonConvert.SerializeObject(Model.StatusCollection)));

        // hr formatting
        var date = new Date(self.racunGlava().Datum);
        self.racunGlava().Datum = Globalize.format(date, "d");

        $(self.racunStavkaCollection()).each(function () {
            var kolicina = parseFloat(this.Kolicina.toString());
            this.Kolicina = Globalize.format(kolicina, "n2");
        });

        var cijena;
        if (self.artiklCollection().length > 0) {
            cijena = self.artiklCollection()[0].Cijena;
        }
        else {
            cijena = 0;
        }

        self.selectedArtikl = ko.observable();
        self.selectedArtiklKolicina = ko.observable(1);
        self.selectedArtiklCijena = ko.observable(Globalize.format(cijena, "n2"));

        self.save = function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("RacunEditBla")",
                data: {
                    racunGlavaId: self.racunGlava().RacunGlavaId,
                    racunGlavaJson: ko.toJSON(self.racunGlava),
                    racunStavkaCollectionJson: ko.toJSON(self.racunStavkaCollection)
                },
                success: function (result) {
                    alert(result);
                    window.location.href = window.location.href;
                },
                error: function () {
                    alert("no go");
                },
                async: false,
                cache: false
            });
        }; 

        self.addRacunStavka = function () {
            var racunStavka;
            var racunStavkaIndex;
            $(self.racunStavkaCollection()).each(function (index) {
                if (this.ArtiklId === self.selectedArtikl().ArtiklId) {
                    racunStavka = this;
                    racunStavkaIndex = index;
                }
            });

            if (undefined === racunStavka) {
                racunStavka = Enio.CoolJ.RacunStavka({ 
                    ArtiklId: self.selectedArtikl().ArtiklId,
                    Artikl: self.selectedArtikl(), 
                    Kolicina: Globalize.format(self.selectedArtiklKolicina(), "n2"), 
                    Cijena: self.selectedArtiklCijena(),
                    PdvPosto: self.selectedArtikl().Pdv.Stopa
                });

                self.racunStavkaCollection.push(racunStavka);
            }
            else {
                var kolicina = Globalize.parseFloat(racunStavka.Kolicina.toString()) + Globalize.parseFloat(self.selectedArtiklKolicina().toString());
                racunStavka.Kolicina = Globalize.format(kolicina, "n2");
                self.racunStavkaCollection.remove(racunStavka);
                self.racunStavkaCollection.splice(racunStavkaIndex, 0, racunStavka);
            }
        };

        return self;
    };

    var viewModel = racunViewModel();
    ko.applyBindings(viewModel);
    $("form").validate({ submitHandler: viewModel.save });

</script>